#error-msg {
  color: red;
  font-size: 14px;
  margin-top: 5px;
display : none;
}

#success-msg {
  color: green;
  font-size: 14px;
  margin-top: 5px;
display : none;
}

button {
height : 100px;
width : 200px;
background-color : blue; /* Green */

}